<ion-header>
  <ion-toolbar>
    <ion-title>Registro Empleado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-title>Registro</ion-title>
 <ion-list>
   <div>
    <ion-input placeholder="Nombre" maxlength=10 name="txtNombre" required="txtNombre"></ion-input>
  </div>
    <ion-input placeholder="Apellido Paterno" maxlength=20 name="txtApellidoP" required="txtApellidoP"></ion-input>
 <div>
    <ion-input placeholder="Apellido Materno" maxlength=20 name="txtApellidoM" required="txtApellidoM"></ion-input>
  </div>
    <ion-input placeholder="Telefono" maxlength=10 name="txtTelefono" required="txtTelefono" type="tel"></ion-input>
 
    <ion-input placeholder="Correo" maxlength=25 name="txtCorreo" required="txtCorreo" type="email"></ion-input>
 
    <ion-input placeholder="Contraseña" maxlength=15 name="txtContrasenia" required="txtContrasenia" type="password"></ion-input>
 
    <ion-input placeholder="Clave empresa" maxlength=10 name="txtClaveEmpresa" required="txtClaveEmpresa"></ion-input>

    <ion-input placeholder="Rol" maxlength=10 name="txtRol" required="txtRol"></ion-input>
 
  

  </ion-list>
  <ion-button expand="block" name="btnAceptar" >Aceptar</ion-button>
  <ion-button expand="block"  name="btnCancelar">Cancelar</ion-button>
  <ion-infinite-scroll>
   
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data…">
     
    </ion-infinite-scroll-content>
  
  </ion-infinite-scroll>
</ion-content>






