<ion-header>
  <ion-toolbar>
    <ion-title>Registro de Dispositivos</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content>

  <ion-title>Registra aquí tu Dispositivo!</ion-title>
  <br>
 <ion-list>
   <div>
    <ion-input placeholder="Tipo de Dispositivo" maxlength=10 name="txtTipoDispositivo" required="txtTipoDispositivo"></ion-input>
   </div>
    <ion-input placeholder="Nombre" maxlength=20 name="txtNombre" required="txtNombre"></ion-input>
   <div>
    <ion-input placeholder="Marca" maxlength=20 name="txtMarca" required="txtMarca"></ion-input>
   </div>
   <div>
    <ion-input placeholder="Modelo" maxlength=20 name="txtModelo" required="txtModelo"></ion-input>
   </div>
   <div>
    <ion-input placeholder="Detalle" maxlength=20 name="txtDetalle" required="txtDetalle"></ion-input>
   </div>
 </ion-list>
  
  <ion-button expand="block" name="btnAceptar" >Aceptar</ion-button>
  <ion-button expand="block" color="light"  name="btnCancelar">Cancelar</ion-button>
  <ion-infinite-scroll>
   
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data…">
     
    </ion-infinite-scroll-content>
  
  </ion-infinite-scroll>
</ion-content>

