<ion-header>
  <ion-toolbar>
    <ion-title>Historial Dispositivos</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content>
  <ion-title>Mantenimiento Preventivo</ion-title>
  <ion-item>
    <ion-reorder slot="start"></ion-reorder>
    <ion-label>
      Modelo
    </ion-label>
    <ion-label>
      Fecha
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-reorder slot="start"></ion-reorder>
    <ion-label>
      Modelo
    </ion-label>
    <ion-label>
      Fecha
    </ion-label>
  </ion-item>
</ion-content>
<ion-content>
  <ion-title>Mantenimiento Correctivo</ion-title>
  <ion-item>
    <ion-reorder slot="start"></ion-reorder>
    <ion-label>
      Modelo
    </ion-label>
    <ion-label>
      Fecha
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-reorder slot="start"></ion-reorder>
    <ion-label>
      Modelo
    </ion-label>
    <ion-label>
      Fecha
    </ion-label>
  </ion-item>
</ion-content>
