<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-icon slot="end" name="exit-outline"></ion-icon>
  </ion-toolbar>
</ion-header>
<br>
<ion-content>
  <ion-list>
  
    <ion-item-sliding *ngFor="let estado of estados">
      <ion-item>
    <ion-avatar slot="start">
      <ion-icon name="person-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h3>{{usuario.nombre_empleado}}</h3>
    </ion-label>
  </ion-item>
<br>
  <ion-item>
    <ion-avatar slot="start">
      <ion-icon name="desktop-outline"></ion-icon>
    </ion-avatar>
    <ion-label>Dispositivos a cargo</ion-label>
  </ion-item>
</ion-item-sliding>
</ion-list>
    <!-- fab placed to the top end -->
    <ion-fab-button (click)="createEstado()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <br>
    <!-- fab placed to the top end -->
    <ion-fab vertical="center" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="reload-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-nav-link [routerLink]="['/home']" >Generar historial</ion-nav-link>
  </ion-content>
  
  
 

