<ion-header>
  <ion-toolbar>
    <ion-title>Modificacion Fecha Preventiva</ion-title>
  </ion-toolbar>
 </ion-header>
  <br>
  <ion-content>
    <ion-title>Modifica la Fecha Preventiva del Mantenimiento a tu Dispositivo!</ion-title>
    <br>
   <ion-list>
     <div>
      <ion-input placeholder="Nueva Fecha de Mantenimiento" maxlength=20 name="txtNuevaFecha" required="txtNuevaFecha"></ion-input>
    </div>
     <div>
      <ion-input placeholder="Detalle" maxlength=20 name="txtDetalle" required="txtDetalle"></ion-input>
     </div>
   </ion-list>
   <br>
 <ion-button expand="block" name="btnActualizar" >Actualizar</ion-button>
 <ion-button expand="block" color="light"  name="btnCancelar">Cancelar</ion-button>
 <br>
</ion-content>
