<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="onlogin(form)">
    <ion-item>
      <ion-input [(ngModel)]="login.correo" name="email" type="email" placeholder="asdfg@gmail.com" ngModel required></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="login.contrasena" name="password" [type]="passwordType" placeholder="Contraseña"></ion-input>
    </ion-item>

    <ion-button  type="submit"expand="block" fill="clear" shape="round">  
      Ingresar
    </ion-button>
    <ion-button (click)="onlogin()" expand="block" fill="clear" shape="round">
      Click me
    </ion-button>
  </form>
</ion-content>

