<ion-header>
  <ion-toolbar>
    <ion-title>Dispositivo</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content>
  <ion-title>¿Que le haremos a tu Dispositivo?</ion-title>
  <br>
 <ion-list>
   <div>
    <ion-input placeholder="Tipo de Dispositivo" maxlength=10 name="txtTipoDispositivo" required="txtTipoDispositivo"></ion-input>
   </div>
    <ion-input placeholder="Nombre" maxlength=20 name="txtNombre" required="txtNombre"></ion-input>
   <div>
    <ion-input placeholder="Marca" maxlength=20 name="txtMarca" required="txtMarca"></ion-input>
   </div>
   <div>
    <ion-input placeholder="Modelo" maxlength=20 name="txtModelo" required="txtModelo"></ion-input>
   </div>
   
 </ion-list>
  
  <ion-button expand="block" name="btnAceptar" >Prevención Correctiva</ion-button>
  <ion-button expand="block"  name="btnCancelar">Corrección Preventiva</ion-button>
</ion-content>
