<ion-header>
  <ion-toolbar>
    <ion-title>Registro de Dispositivos</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content>
  <ion-content>
 
    <ion-item>
      <ion-label position="floating">Detalles</ion-label>
      <ion-input  type="text" required [(ngModel)]="dispo.detalles" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fecha mantenimiento preventivo</ion-label>
      <ion-input type="text" required [(ngModel)]="dispo.fecha_mantenimiento_prev"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Marca</ion-label>
      <ion-input type="text" required [(ngModel)]="dispo.marca"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Modelo</ion-label>
      <ion-input type="text" required [(ngModel)]="dispo.modelo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre </ion-label>
      <ion-input type="text" required [(ngModel)]="dispo.nombre"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tiempo de vida</ion-label>
      <ion-input  type="text" required [(ngModel)]="dispo.tiempo_vida"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tipo de dispositivo</ion-label>
      <ion-input ngDefaultControl type="text" required [(ngModel)]="dispo.tipo_dispositivo"></ion-input>
    </ion-item>
    <ion-button (click)="save()" expand="block"  shape="round" >
      Crear
    </ion-button>
   
  
 
  <ion-button  [routerLink]="['/inicio']" expand="block" color="light"  name="btnCancelar">Cancelar</ion-button>
  


</ion-content>