<ion-header>
  <ion-toolbar>
    <ion-title>MantenimientoPreventivo</ion-title>
  </ion-toolbar>
</ion-header>
<br><br><br><br>
<ion-content>
  <ion-item>
    <ion-avatar slot="start">
      <ion-icon name="desktop-outline"></ion-icon>
    </ion-avatar>
    <ion-label>Fecha del proximo MantenimientoPreventivo</ion-label>
  </ion-item>
  <br><br>
  <ion-content>
    <ion-button expand="block" name="btnModificarFecha" >Modificar fecha</ion-button>
    <ion-button expand="block"  name="btnCancelar">Cancelar</ion-button>
    <br>
    <ion-nav-link [routerLink]="['/home']" >Generar historial</ion-nav-link> 
  </ion-content>

</ion-content>


