<ion-header>
  <ion-toolbar>
    <ion-title>Historial Preventivo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br >
  <ion-title > Mantenimiento Preventivo </ion-title >
    <br>
  <ion-item >
    <ion-reorder  slot = " start " > </ion-reorder >
    <ion-label >
      Modelo
    </ion-label >
    <ion-label >
      Fecha
    </ion-label >
  </ion-item >

  <ion-item >
    <ion-reorder  slot = " start " > </ion-reorder >
    <ion-label >
      Modelo
    </ion-label >
    <ion-label >
      Fecha
    </ion-label >
  </ion-item >

  <ion-item >
    <ion-reorder  slot = " start " > </ion-reorder >
    <ion-label >
      Modelo
    </ion-label >
    <ion-label >
      Fecha
    </ion-label >
  </ion-item >

  <ion-item >
    <ion-reorder  slot = " start " > </ion-reorder >
    <ion-label >
      Modelo
    </ion-label >
    <ion-label >
      Fecha
    </ion-label >
  </ion-item >
  <br>
  <ion-button expand="block" name="btnAceptar" >Aceptar</ion-button>
</ion-content>
