<ion-header>
  <ion-toolbar>
    <ion-title>Clave Empresa</ion-title>
  </ion-toolbar>
</ion-header>


  

<ion-content>
  <br>
  <ion-title>Bienvenidos</ion-title>
  <br>
  <br>
  <br>
 <ion-input placeholder="Clave empresa" maxlength=10 name="txtClaveEmpresa" required="btnClaveEmpresa"></ion-input>
 <br>
  <ion-button expand="block" name="btnClaveEmpresa" >Verificar</ion-button>
  <br>
  <br>
<center>
  <ion-nav-link  [routerLink]="['/home']" >Recuperar clave</ion-nav-link>
</center>
</ion-content>
