<ion-header>
  <ion-toolbar>
    <ion-title>Actualizacion dispositivos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
  <ion-input placeholder="Tipo de dispositivo" maxlength=10 name="txtTipoDispositivo" required="txtTipoDispositivo"></ion-input>

  <ion-input placeholder="Nombre" maxlength=10 name="txtNombre" required="txtNombre"></ion-input>
    
  <ion-input placeholder="Marca" maxlength=10 name="txtMarca" required="txtMarca"></ion-input>
      
  <ion-input placeholder="Modelo" maxlength=10 name="txtModelo" required="txtModelo"></ion-input>

  
  <ion-input placeholder="Detalle" maxlength=10 name="txtDetalle" required="txtDetalle"></ion-input>   
</ion-list>
</ion-content>
  <ion-content>
    <ion-button expand="block" name="btnAceptar" >Aceptar</ion-button>
    <ion-button expand="block"  name="btnCancelar">Cancelar</ion-button>
  </ion-content>
